@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@media (max-width: 767px) {
    #navbar {
        z-index: 1;
        min-height: 35px;
        padding: 35px;
        transition:  1s ;
        background-color: none;
    }
    .overlay {
        max-width: 100%;
    }
}

body {
    font-family: 'Comfortaa', sans-serif;
    height: 5000px;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Girassol', sans-serif;
}

#navbar {
    top: 35px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-size: 18px;
}

.fa-square {
    font-size: 15px;
    padding-left: 5px;
    color: #7dcc71;
}

#nav-link {
    border-radius: 0;
    transition: all 1s ease;
    background-color: #7075fd;
    border: #7075fd;
    color: white;
    transition: all 0.5s ease;
    padding-left: 5px;
}

#nav-link:hover {
    border-radius: 15px;
    transition: 0.5s;
    color: #333333;
}

.headline {
    background-image: url(../img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    z-index: -2;
}


.overlay {
    min-height: 100%;
    background: linear-gradient(to right, rgba(238, 207, 186, 0.219), rgba(52, 114, 230, 0.192));
    z-index: -1;
    
}

.headtitle {
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.headtitle h1{
    color: #6d85fd;
    font-size: 50px;
}

