@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: 900;
}

#navbar {
    padding: 35px;
    left: 0;
    right: 0;
    position: absolute;
}

#navbarScrool {
    padding: 15px;
    top: -84px;
    left: 0;
    right: 0;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) top 0.1s;
    position: fixed;
    box-shadow: 0em 0em 20px rgba(122, 122, 122, 0.76);
}

.navbar-brand {
    font-size: 18px;
}

.navbar .container {

}

.fa-square {
    font-size: 15px;
    padding-left: 5px;
    color: #7dcc71;
}

.navbar-nav .nav-link {
}

#nav-link {
    border-radius: 0;
    transition: all 1s ease;
    background-color: #7075fd;
    border: #7075fd;
    color: white;
    transition: all 0.5s ease;
}

#nav-link:hover {
    border-radius: 15px;
    transition: 0.5s;
    color: #333333;
}

.headline {
    background-image: url(../img/bg_1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0px;
    background-size: cover;
    min-height: 100vh;
}
.none {
    height: 2000px;
    background-color: violet;
}

.headline .container-fluid {
    height: 100%;
    padding: 0;
}

.headline .container-fluid .row {
    height: 100%;
}

.headline .container-fluid .overlay {
    min-height: 100vh;
    background: linear-gradient(to right, rgba(238, 207, 186, 0.219), rgba(52, 114, 230, 0.192));
    position: absolute;
    top: 0;
}

.gradient .container {
    position: relative;
    top: 50vh;
}
