@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@media (max-width: 767px) {
    #navbar {
        z-index: 1;
        min-height: 15px;
        padding: 15px;
        transition:  1s ;
        background-color: none;
    }
    .overlay {
        max-width: 100%;
    }
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Comfortaa', sans-serif;
}

header {
    min-height: 100vh;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Girassol', sans-serif;
}

#navbar {
    top: 15px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-size: 18px;
}

.fa-square {
    font-size: 15px;
    padding-left: 5px;
    color: #7dcc71;
}

#nav-link {
    border-radius: 0;
    transition: all 1s ease;
    background-color: #7075fd;
    border: #7075fd;
    color: white;
    transition: all 0.5s ease;
    padding-left: 5px;
}

#nav-link:hover {
    border-radius: 15px;
    transition: 0.5s;
    color: #333333;
}

.headline {
    background-image: url(../img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    z-index: -2;
}


.overlay {
    min-height: 100%;
    background: linear-gradient(to right, rgba(238, 207, 186, 0.219), rgba(52, 114, 230, 0.192));
    z-index: -1;
    
}

.headtitle {
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.headtitle h1{
    color: #6d85fd;
    font-size: 3rem;
}

.headtitle h2 {
    color: #6d85fd;
    font-size: 3rem;
}

.timers {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    color: #6d85fd;
    border-right: 1px solid rgba(0, 0, 0, 0.637);
}

#days {
    text-align: left;
    padding: 0;
}

#seconds {
    border: none;
}

.text {
    text-align: center;
    padding: 0;
}

.timersMain {
    text-align: center;
    padding: 0;
}
.timersMainOne {
    text-align: center;
    padding: 0;
}

.timersTitle {
    text-align: left;
}

.priseList {
    background-color: #f8f9fa;
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;
}

.fa-map-marked-alt {
    font-size: 50px;
    color: #6d85fd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.fa-globe-europe {
    font-size: 50px;
    color: #6d85fd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.fa-hotel {
    font-size: 50px;
    color: #6d85fd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.fa-utensils {
    font-size: 50px;
    color: #6d85fd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.fanFacts {
    padding-top: 2em;
    padding-bottom: 2em;
}

.companyFacts {
    background-color: #f8f9fa;
    max-width: 20em;
    text-align: center;
    padding: 15%
}
